@model MVC5App.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<ul> @Model.Name
	<li>Genre Name: @Model.Genre.Name</li>
	<li>Released Date: @Model.ReleasedDate.ToString("dddd, MMMM dd, yyyy")</li>
	<li>Date Added: @Model.AddedDate.ToString("dddd, MMMM dd, yyyy")</li>
	<li>Instock: @Model.NumberInstock</li>
</ul>

